<h3 class="animate" *ngIf='item===0'>
  Generating Report
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===1'>
  ISN Log In Successful
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===2'>
  Navigating to Order
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===3'>
  Navigating to Upload Page
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===4'>
  Uploading File
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===5'>
  Making Public
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===6'>
  Navigating To Email
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===7'>
  Adding Recipients
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="animate" *ngIf='item===8'>
  Sending Emails
<ion-spinner name="dots"></ion-spinner>
</h3>
<h3 class="last" *ngIf='item===9'>
  Finishing Up
<ion-spinner name="dots"></ion-spinner>
</h3>
