ion-spinner {
    vertical-align: bottom;
}
.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;

}
.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    display: none;

}
@keyframes fadeIn {
    0%  {
        display: block;
        transform: translate(0px, 100px);
        opacity: 0%;
    }
    100%  {opacity: 100%;}
}
@keyframes fadeOut {
    0%  { opacity: 100%; }
    99%  { 
        opacity: 0%; 
        transform: translate(0px, -100px);
    }
    100% { 
        display: none;
    }
}