<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input name="inputPath" [(ngModel)]="inputPath" placeholder="Enter File Path"></ion-input>
      <ion-button shape="round" (click)="getFile()">GO</ion-button>
      <ion-button color="success" (click)="openFile()">OPEN</ion-button>
    </ion-item>
    <strong>Data: </strong>
    <p>{{ pageContent }}</p>
  </div>
</ion-content>
