<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let address of nearestOrders; let i = index">
      <ion-card-header>
        <ion-card-subtitle>{{ address.address1 }} {{ address.address2 }}<br>{{ address.city }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">{{ address.datetimeformatted }}
            </ion-col>
            <ion-col size="6">{{ address.reportnumber }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Logged In?
    <ion-icon *ngIf=" auth.loggedIn===null" slot="end" name="help" color="warning"></ion-icon>
    <ion-icon *ngIf="auth.loggedIn" slot="end" name="checkmark" color="success"></ion-icon>
    <ion-icon *ngIf="!auth.loggedIn && !(auth.loggedIn===null)" slot="end" name="close" color="danger"></ion-icon>
  </ion-title>
  <ion-button (click)="logout()" shape="round" fill="outline" color="danger">
    Logout
</ion-button>
  </ion-toolbar>
</ion-footer>